.footer{
    margin: 3rem 0 2rem 0;
    @include flex-column;
    gap: 1.5rem;

    &-link{
        width: 12.5rem;
    }

    &-img{
        display: block;
        width: 100%;
        -webkit-transition: all 0.3s;
        transition: all 0.3s;

        &:hover, &:focus{
            transform: scale(1.05);
        }
    }

    &-copy{
        text-align: center;
        color: $white;

        &-link{
            width: 4rem;
        }

        &-img{
            display: block;
            width: 100%;
            -webkit-transition: all 0.3s;
            transition: all 0.3s;
    
            &:hover, &:focus{
                transform: scale(1.05);
            }
        }
    }
}