.navigation{
    font-size: 1.25rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2.5rem 5rem 2rem 5rem;

    &-logo{
        display: inline;
        width: 50%;
    }

    &-menu{
        display: flex;
        justify-content: space-evenly;
        margin-left: auto;
        padding-right: 1rem;
    }

    &-item{
        display: flex;
        justify-content: center;
        margin-left: 2rem;
        list-style-type: none;
        cursor: pointer;
    }

    &-link{
        text-decoration: none;
        color: rgba(255, 255, 255, 0.75);
        -webkit-transition: all 0.3s ease;
        transition: all 0.3s ease;

        &:hover, &:focus{
            color: $white;
        }
    }
}

.hamburger{
    display: none;
    cursor: pointer;

    &-bar{
        display: block;
        width: 25px;
        height: 3px;
        margin: 5px auto;
        background-color: $white;
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
    }
}